<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="com.corneliuserediuc.knobcontrol">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Knob Control" android:icon="@drawable/icon"></application>
</manifest>